.screen_wrapper {
    display: block;
    width: 100%;
}
.screen_wrapper .card{
    border-radius: unset;
    display: inline-block;
}
.screen_wrapper .card-body{
    padding: 8px 8px;
    text-align: center;
}
.screen_wrapper .card-header{
    text-align: center;
}
.card {
    margin: 2px 2px;
    width: 16.37%;
    border: none;
}
.card p{
    margin: 0;
}
.screen_wrapper .card-header {
    text-align: center;
    background: #000;
    color: #fff;
    border: none;
    font-weight: 600;
}
.screen_wrapper .card-body {
    padding: 8px 8px;
    text-align: center;
    outline: none;
    border: 1px solid #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
