h1,
h2,
.h1,
.h2 {
  font-size: var(--heading-font);
}

h3,
h4,
.h3,
.h4 {
  font-size: var(--semi-heading-font);
  font-family: var(--font-family);
}

h5,
h6,
.h5,
.h6 {
  font-size: var(--small-heading);
  font-family: var(--font-family);
}

span,
p {
  font-size: var(--regular-font);
  margin-bottom: 10px;
  font-family: var(--font-family);
}
ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
/* a{
  text-decoration: none !important;
  color: var(--white-color);
} */
.blue-btn {
  background-color: var(--blue-color) ;
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
}
.blue-btn:active{
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
  font-weight: 500;
  font-family: var(--font-family);
  border: var(--blue-color) !important;
}
.blue-btn:hover{
    background-color: var(--blue-hover);
    color: var(--white-color);
    transition: 0.3s ease;
    font-family: var(--font-family);
}
.blue-btn:focus-visible{
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
  font-weight: 500;
  font-family: var(--font-family);
  border: var(--blue-color) !important;
}
.success-btn {
  background-color: var(--green-color) ;
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
  padding: 3px 10px;
  border-radius: unset;
}
.success-btn:hover {
  background-color: var(--green-hover);
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
}
.success-btn:active {
  background-color: var(--green-hover) !important;
  font-size: var(--regular-font) ;
  color: var(--white-color) !important;
  font-weight: 500;
  font-family: var(--font-family);
  border-color:var(--green-color) !important;
}
.success-btn:focus-visible {
  background-color: var(--green-hover) ;
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
  border:1px solid var(--green-color);
}

.danger-btn {
  background-color: var(--danger-color) ;
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
  padding: 3px 10px;
  border-radius: unset;
}
.danger-btn:hover {
  background-color: var(--danger-hover);
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
  transition: all 0.2s ease;
}
.danger-btn:active {
  background-color: var(--danger-hover) !important;
  font-size: var(--regular-font) ;
  color: var(--white-color) !important;
  font-weight: 500;
  font-family: var(--font-family);
  border-color:var(--danger-color) !important;
}
.danger-btn:focus-visible {
  background-color: var(--danger-hover) ;
  font-size: var(--regular-font) ;
  color: var(--white-color) ;
  font-weight: 500;
  font-family: var(--font-family);
  border:1px solid var(--danger-color);
}

.orange-bg{
    background-color: var(--orange-color);
    color: var(--white-color);
    font-family: var(--font-family);
}
.pinkShadow-bg{
    background-color: var(--pink-shadow-color);
    color: var(--white-color);
    font-family: var(--font-family);
}
.darkpink-bg{
    background-color: var(--dark-pink);
    color: var(--white-color);
    font-family: var(--font-family);
}
.blue-bg{
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-family);
}
.lightchocolate-bg{
    background-color: var(--light-chocolate-color);
    color: var(--white-color);
    font-family: var(--font-family);
}
.lavandercolor-bg{
    background-color: var(--lavander-color);
    color: var(--white-color);
    font-family: var(--font-family);
}
.greenshad-bg{
    background-color: var(--green-shad);
    color: var(--white-color);
    font-family: var(--font-family);
}
.inkcolor-bg{
  background-color: var(--ink-color);
  color: var(--white-color);
  font-family: var(--font-family);
}
.inkcolor-bg:hover{
  background-color: var(--ink-hover-color);
  color: var(--white-color);
  font-family: var(--font-family);
}
.inkcolor-bg:active{
  background-color: var(--ink-hover-color) !important;
  color: var(--white-color) !important;
  font-family: var(--font-family);
}
.inkcolor-bg:focus{
  background-color: var(--ink-hover-color);
  color: var(--white-color);
  font-family: var(--font-family);
}
.f_right{
  float: right !important;
}
