/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root{
  /* font-family: 'Poppins', sans-serif; */
  --font-family: 'Roboto', sans-serif;
  --Yellow-color:#FFE505;
  --red-color: #ff0000;
  --heading-font:30px;
  --semi-heading-font:25px;
  --small-heading:18px;
  --regular-font:14px;
  --small-font:12px;
  --blue-color:#00a8e8;
  --blue-hover:#3e92cc;
  --white-color:#ffffff;
  --orange-color:#FE6E00;
  --pink-shadow-color:#d08e90;
  --dark-pink:#D44C9C;
  --light-chocolate-color:#A86E58;
  --lavander-color:#EE82EE;
  --green-shad:#A4DE02;
  --ink-color:#333399;
  --ink-hover-color:#001C3D;
  --skyblue-color:#dcf0fa;
  --black-color:#000000;
  --bg-dark:#1E1E1E;
  --bg-extra-dark:#121212;
  --bg-semi-dark:#232323;
  --dark-light:#2E2E2E;
  --green-color:#01B636;
  --green-hover:#3BD16F;
  --danger-color:#DC3545;
  --danger-hover:#BF3E50;
  --modal-border-color:#727272;
}
body {
  margin: 0;
  font-family: var(--font-family) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark) !important;
  color: var(--white-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

